<div class="row">

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <div class="container m-4">
                    <form (ngSubmit)="agregarProducto()" id="productoForm" [formGroup]="productoForm">
                        <h2>Agregar un producto</h2>
                        <div class="form-group">
                            <mat-form-field appearance="fill">
                                <mat-label>Nombre</mat-label>
                                <input matInput formControlName="nombre" placeholder="Nombre de producto">
                            </mat-form-field>
                        </div>

                        <div class="form-group">
                            <mat-form-field appearance="fill">
                                <mat-label>Precio</mat-label>
                                <input type="number" matInput formControlName="precio" placeholder="Precio del producto">
                            </mat-form-field>
                        </div>

                        <div class="form-group">
                            <mat-form-field appearance="fill">
                                <mat-label>Inventario</mat-label>
                                <input type="number" matInput formControlName="cantidad" placeholder="Cantidad en inventario">
                            </mat-form-field>
                        </div>

                        <div class="col text-danger">

                            <a *ngIf="campoNoValido('nombre')"> *Ingrese nombre válido<br></a>
                            <a *ngIf="campoNoValido('cantidad')">  *Ingrese un precio<br></a>
                            <a *ngIf="campoNoValido('precio')">  *Ingrese la cantidad<br></a>



                        </div>


                        <button type="submit" class="btn btn-primary">Registrar producto</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">




        <div class="card">
            <div class="card-body">
                <div class="container m-4">
                    <h2>Listado de productos</h2>

                    <div class="row m-5">
                        <div class="col">

                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                        <th>Cantidad</th>

                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let producto of productos">
                                        <td>{{ producto.nombre }}</td>
                                        <td>${{ producto.precio}}</td>
                                        <td>{{ producto.cantidad}}</td>

                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>