<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1 class="animated fadeIn fast l-blank">Listado de productos</h1>
            <div class="row">

                <div class="card  animated fadeIn border-light m-1" style="width: 10rem;" *ngFor="let producto of productos">
                    <div class="card-body">
                        <h4 class="card-title">
                            <h1>{{producto.nombre}} </h1>
                            <input #nom type="hidden" value={producto.nombre}>
                        </h4>
                        <p class="card-text">Precio: ${{producto.precio}} </p>
                        <p class="card-text"> <small class="text-muted ">Inventario: {{producto.cantidad}}</small></p>


                        <button type="submit " (click)="addCarrito1(producto) " class="btn btn-outline-success btn-sm "><i class="fa fa-cart-plus "></i> Agregar </button>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-sm-6 ">
            <h1 class="animated fadeIn fast l-blank ">Carrito de compras</h1>
            <div *ngIf="productosCarrito.length>0; else elseBlock">

                <div class="card">
                    <div class="card-body">
                        <div class="container ">


                            <div class="row">
                                <div class="col">

                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Precio</th>
                                                <th>Cantidad</th>
                                                <th>Subtotal</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let producto of productosCarrito">
                                                <td>{{ producto.nombre }}</td>
                                                <td>${{ producto.precio}}</td>
                                                <td>{{ producto.cantidad}}</td>
                                                <td> {{producto.cantidad}} x {{producto.precio}} = ${{ producto.cantidad*producto.precio}}</td>

                                                <td>
                                                    <button type="button" (click)="elimiarDelCarrito(producto)" class="btn btn-outline-warning btn-sm"><i class="fa fa-trash"></i></button>
                                                </td>
                                            </tr>

                                        </tbody>

                                    </table>

                                    <h3>Precio total:<strong>  ${{ptotal}}</strong> </h3>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #elseBlock>
                <img src="/assets/image/empty.png" width="100% " class="d-inline-block align-top " alt=" " loading="lazy ">
            </ng-template>


        </div>
    </div>

</div>