<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #082a39;">


    <a class="navbar-brand" href="#">
        <img src="/assets/image/banpay-ico.png" width="25%" height="25%" class="d-inline-block align-top" alt="" loading="lazy">
    </a>

    <button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarColor01 " aria-controls="navbarColor01 " aria-expanded="false " aria-label="Toggle navigation ">
      <span class="navbar-toggler-icon "></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarColor01 ">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/']"><i class="fa fa-plus"></i> Producto</a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['productos']"><i class="fa fa-list"></i> Listado de productos</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['carrito']"> <i class="fa fa-shopping-cart"></i> Carrito</a>
            </li>
        </ul>

    </div>
</nav>
<br>